.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  width: 80%;
  height: calc(100vh - 62.5px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: calc(100vh - 62.5px);
  margin-left: 300px;
}
/* 📱 Responsive Design */

@media (max-width: 768px) {
  .chat-container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    border: none;
    margin-left: 0px;
  }
}
