.view-btn {
  background: rgb(21, 88, 196);
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  width: 600px;
  max-height: 90vh;
  background: #fefefe;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 30px;
  overflow-y: auto;
  position: relative;
  animation: fadeIn 0.4s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #999;
}

.modal-title {
  text-align: center;
  font-size: 26px;
  color: #333;
}

.modal-users {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.modal-section {
  margin-top: 30px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
}

.modal-update-btn {
  background: #156b18;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.div-user-add {
  margin-top: 25px;
}
.user-to-add {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.modal-results {
  margin-top: 20px;
}

.modal-loading {
  text-align: center;
}

.modal-leave-wrapper {
  text-align: center;
  margin-top: 30px;
}

.modal-leave-btn {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
